<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="0.0.2_dev-SNAPSHOT" package="com.openshift.android">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true" android:debuggable="true" android:icon="@drawable/openshift_logo" android:label="@string/app_name" android:name="OpenshiftAndroidApplication" android:theme="@style/AppBaseTheme">
        <activity android:label="Domains" android:name="com.openshift.android.activity.DomainActivity" android:screenOrientation="portrait"/>
        <activity android:label="Applications" android:name="com.openshift.android.activity.ApplicationListActivity" android:screenOrientation="portrait" />
        <activity android:label="Login to OpenShift Android" android:name="com.openshift.android.activity.LoginActivity" android:screenOrientation="portrait">
		  <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter> 
        </activity>
        <activity android:label="Create Application" android:name=".activity.ApplicationNewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ApplicationsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.AliasActivity"  android:screenOrientation="portrait"/>
      </application>

</manifest>