<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="0.0.1-SNAPSHOT" package="com.openshift.android">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true" android:debuggable="true" android:icon="@drawable/openshift_logo" android:label="@string/app_name" android:theme="@style/AppTheme" android:name="OpenshiftAndroidApplication">
        <activity android:name="OpenshiftActivity"> 
        </activity>
        <service android:name="com.openshift.android.service.OpenshiftService"/>
        <activity android:label="Domains" android:name="com.openshift.android.activity.DomainActivity"/>
        <activity android:label="Applications" android:name="com.openshift.android.activity.ApplicationListActivity"/>
        <activity android:name="com.openshift.android.activity.ApplicationViewActivity"/>
        <activity android:label="Login to Openshift Android" android:name="com.openshift.android.activity.LoginActivity">
		  <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter> 
        </activity>
    </application>

</manifest>